.modal{
    img{
        width: 100%;
        max-height: 220px;
        border-radius:7px;
    }
}

.main{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 20px;
    margin:30px 0 ;
    tbody{
        tr{
            td{
                vertical-align: middle;
                img{
                    max-width:60px;
                    max-height:60px;
                    min-width:60px;
                    min-height:60px;
                    border-radius: 50%;
                }
            }
        }
    }
    
}
@media  (max-width:767px){
    tbody{
        font-size: 12px;
        tr{
            td{
                img{
                    max-width:40px!important;
                    max-height:40px!important;
                    min-width:40px!important;
                    min-height:40px!important;
                }
            }
        }
    }
}